body {
  background-color: #001f3f; /* Deep blue color */
  margin: 0;
  padding: 0;
}



.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 2rem;
}

.add-task {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.add-task input {
  flex: 1;
  padding: 0.5rem;
}

.add-task button {
  margin-left: 1rem;
}

.task {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.done {
  text-decoration: line-through;
  opacity: 0.7;
}

button {
  margin-left: 0.5rem;
}
